.container {
    margin-bottom: 3rem;
}

.header 
{
    max-width: 1280px;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 1rem .5rem;
    color: gray;
    gap: 2rem;
    font-size: 1.2rem;
}

.header > button 
{
     width: 8rem;
     height: 2.5rem;
     border-radius: 20px;
     box-shadow: none;
     outline: none;
     border: none;
     transition: 0.2s;
     cursor: pointer;
}

.products {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    gap: 35px;
    justify-content: center;
}

.active
{
    background-color:rgba(41, 224, 243, 0.8);
    color: #fff;
}